[submodule "keycard-access/lib/_libspookyaction"]
	path = keycard-access/lib/_libspookyaction
	url = https://git.mittelab.org/proj/libspookyaction.git
[submodule "keycard-access/components/_idf-extra-components"]
	path = keycard-access/components/_idf-extra-components
	url = https://github.com/espressif/idf-extra-components
[submodule "keycard-access/lib/_mittelib"]
	path = keycard-access/lib/_mittelib
	url = https://git.mittelab.org/proj/mittelib.git
[submodule "keycard-access/lib/_libneon"]
	path = keycard-access/lib/_libneon
	url = https://git.mittelab.org/5p4k/libneon.git
