[submodule "keycard-access/components/_idf-extra-components"]
	path = keycard-access/components/_idf-extra-components
	url = https://github.com/espressif/idf-extra-components
[submodule "libspookyaction"]
	path = libspookyaction
	url = https://git.mittelab.org/proj/libspookyaction.git
[submodule "components/libmodernjson/json"]
	path = components/libmodernjson/json
	url = https://github.com/nlohmann/json.git
[submodule "components/libsemver/semver"]
	path = components/libsemver/semver
	url = https://github.com/Neargye/semver.git
